
.text-1{
    font-family:var(--font-1-family);
    font-size:var(--font-1-size);
    font-weight:var(--font-1-weight);
    line-height:var(--font-1-line);
    letter-spacing:var(--font-1-spacing);
}

 .text-2{

    font-family:var(--font-2-family);
    font-size:var(--font-2-size);
    font-weight:var(--font-2-weight);
    line-height:var(--font-2-line);
    letter-spacing:var(--font-2-spacing);
}

 .text-3{
    font-family:var(--font-3-family);
    font-size:var(--font-3-size);
    font-weight:var(--font-3-weight);
    line-height:var(--font-3-line);
    letter-spacing:var(--font-3-spacing);
}

 .text-4{
    font-family:var(--font-4-family);
    font-size:var(--font-4-size);
    font-weight:var(--font-4-weight);
    line-height:var(--font-4-line);
    letter-spacing:var(--font-4-spacing);
}

 .text-5{
    font-family:var(--font-5-family);
    font-size:var(--font-5-size);
    font-weight:var(--font-5-weight);
    line-height:var(--font-5-line);
    letter-spacing:var(--font-5-spacing);
}

 .text-6{
    font-family:var(--font-6-family);
    font-size:var(--font-6-size);
    font-weight:var(--font-6-weight);
    line-height:var(--font-6-line);
    letter-spacing:var(--font-6-spacing);
}